@model RegisterViewModel

<h2>Регистрация</h2>

<form method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label>Имя пользователя</label>
        <input asp-for="Username" />
    </div>

    <div>
        <label>Email</label>
        <input asp-for="Email" />
    </div>

    <div>
        <label>Пароль</label>
        <input asp-for="Password" />
    </div>

    <div>
        <label>Подтверждение пароля</label>
        <input asp-for="ConfirmPassword" />
    </div>


    <button type="submit">Зарегистрироваться</button>
</form>